<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page_title }}{% unless page_title contains shop.name %} | {{ shop.name }}{% endunless %}</title>
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  {{ content_for_header }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% section 'header' %}

  <main role="main" id="main-content">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {{ 'script.js' | asset_url | script_tag }}
</body>
</html>
